{% extends 'base.html.twig' %}

{% block title %}RM{% endblock %}

{% block body %}

  <div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header">
          Checkout RSS Feeds
          </div>  
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><a href="/rss/list">RSS Feeds</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
